---
import Layout from '@/layouts/Layout.astro'
import Results from '@/components/common/Results.astro'
import { searchMedia } from '@/services/searchApiService'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { getQuery } from '@/composables/getQueryUrl'
import { getTrendingMedia } from '@/services/homeApiServices'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const query = getQuery(Astro.url, 'q')

if (!query) return Astro.redirect(`/${lang}`)
const results = await searchMedia(query, lang)

const mediaNotFound = await getTrendingMedia(lang)
---

<Layout>
  <section class="results">
    <h2 class="results__title">{t('title.results')}: {query}</h2>
    <Results lang={lang} results={results} mediaNotFound={mediaNotFound} />
  </section>
</Layout>

<style lang="scss">
  .results {
    padding: 6rem 0 4rem;
    @include responsive(42.5rem) {
      padding: 5rem 0 2rem;
    }
    &__title {
      padding: map-get($map: $sizes, $key: s-general-padding);
      padding-bottom: 2rem;
      @include responsive() {
        padding: map-get($map: $sizes, $key: s-general-padding-mobile);
        padding-bottom: 1rem;
      }
    }
  }
</style>
